body{
    min-width: 565px;
}
.jumbotron {
    background-color: #10150E;
    color: white;
}

.footer{
    
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

button{
    margin: 20px;
}

form{
    float: right;
    position: relative;
}

#gifButtonsView{
    float: left;
}

#gifsView{
    text-align: center;
   
}

.newDiv{
    
    display: inline-block;
    clear: both;
    margin: 10px;
   
}

#gifForm{
    margin-top: 20px;
}